<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.car.media">
    <application
        android:label="Media Center"
        android:theme="@style/Theme.Media"
        android:icon="@drawable/ic_music"
        android:supportsRtl="true">

        <meta-data
            android:name="android.car.application"
            android:resource="@xml/automotive_app_desc" />

        <activity
            android:name=".MediaActivity"
            android:resizeableActivity="true"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:launchMode="singleTop">
            <meta-data android:name="distractionOptimized" android:value="true"/>
        </activity>

        <!-- The Media center entry point that trampolines into MediaActivity or the radio app. -->
        <activity
            android:name=".MediaDispatcherActivity"
            android:theme="@android:style/Theme.NoDisplay"
            android:exported="true"
            android:launchMode="singleTask">
            <meta-data android:name="distractionOptimized" android:value="true"/>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.INFO" />
                <category android:name="android.intent.category.APP_MUSIC" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.car.intent.action.MEDIA_TEMPLATE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.MediaConnectorService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.car.media.MEDIA_CONNECTION"/>
            </intent-filter>
        </service>
    </application>
</manifest>